@tailwind base;
@tailwind components;
@tailwind utilities;


.container div{
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 0 5px;
  margin-top: 60px;
  margin-left: 30px;
}


:root {
  --foreground-rgb: 0, 0, 0;
  /*--background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;*/
  /* --background-start-rgb: 10, 10, 10; */
  /* --background-end-rgb: 10, 10, 10; */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
