@tailwind base;
@tailwind components;
@tailwind utilities;


.container div {
  display: flex;
  justify-content: center;
  padding: 5;
  margin: 0;
}


:root {
  --foreground-rgb: 0, 0, 0;
  /*--background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;*/
  /* --background-start-rgb: 10, 10, 10; */
  /* --background-end-rgb: 10, 10, 10; */
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  --size: 80px; /* control the size */
  --color: #e9e9e9;

  --l: var(--color) 20%, #0000 0;
  --bg: 35%, #bef790 0 45%, var(--color) 0;
  background: linear-gradient(45deg, var(--l) 45%, var(--color) 0 70%, #0000 0),
    linear-gradient(-45deg, var(--l) var(--bg) 70%, #0000 0),
    linear-gradient(45deg, var(--color) var(--bg));
  background-size: var(--size) var(--size);
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}